@model GitHub.Models.ContactModel
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Contact", "Home"))
{

    <div class="headline"><h2>Contact Form</h2></div>


    <div class="form-group">
        @Html.LabelFor(m => m.Name)

        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.Email)
    </div>



        <div class="form-group">
            @Html.LabelFor(m => m.Message)
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Message)
        </div>


        <p><button type="submit" class="btn btn-u">Send Message</button></p>


}


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}


